/*HEADER*/
header{
   width: 100%;

   display: flex;
   justify-content: start;
   align-items: center;

   position: relative;
}
header strong{
   font: bold 5em var(--nad);

   margin-left: 10%;
   margin-bottom: 2%;

   color: var(--pink-text);
}
/*HEADER*/

/*MAIN*/
.main{
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
}
.article1{
   width: 80%;

   font: 1.5rem var(--text);

   text-align: justify;

   line-height: 2;
}
.article1 strong{
   font-weight: bold;
}
@media screen and (max-width: 1279px){
   header{
      justify-content: center;

      padding: 0;
   }
   header strong{
      font-size: 4rem;

      text-align: center;

      margin: 0;
      margin-bottom: 10%;
   }
   .article1{
      font-size: 1.2rem;

      line-height: 1.5;

      text-align: left;
   }
   .article1 table{
      width: 90%;
   }
}
/*MAIN*/