body{
   background-image: url(../images/kladivko.png);
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
}

/*HEADER*/
header{
   width: 100%;

   display: flex;
   justify-content: start;
   align-items: center;

   position: relative;
}
header strong{
   font: bold 5em "Calibri";

   margin-left: 10%;

   color: var(--pink-text);
}
/*HEADER*/

/*MAIN*/
.main{
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
}
.article1{
   width: 80%;

   display: flex;
   justify-content: center;
   align-items: center;

   font: 2rem "Calibri";

   text-align: justify;

   line-height: 2;
}
.article1 table{
   margin: 7% 0;

   width: 70%;

   text-align: center;
}
/*MAIN*/