/*HEADER*/
header{
   width: 100%;

   display: flex;
   justify-content: start;
   align-items: center;

   position: relative;
}
header strong{
   font: bold 5em Verdana;

   margin-left: 5%;

   color: var(--pink-text);
}
/*HEADER*/

/*MAIN*/
.main{
   width: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
}
.article1{
   width: 90%;

   display: flex;
   justify-content: center;
   align-items: center;

   font: 2rem Verdana;

   text-align: justify;

   line-height: 2;
}
.article1 table{
   margin-top: 5%;

   width: 50%;

   text-align: center;
}
/*MAIN*/